$bodyBg: #1D1D1F;
$mainBg: #fff;
$mainColor: #FFAD00;
$primary: #FFAD00;
$secondary: #1D1202;
$accent: #FFC64E;
$text: #000000;
$lightBrown: #BEAFAF;
$txtColor: #4E4D4F;
$purple: #A374FF;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #00AB66;
$red: #F50615;
$blue: #00B2FF;
$redShadow: #FF5A5F50;
$teal: #17F1D1;

$fontFamily: 'Anton', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$titleFont: 'AntiqueOliveBold';

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
$laptop-width: 1600px;
$desktop-width: 1601px;