@use '../abstracts/' as *;

.careers{
    &-jobpost{
        &-iframe{
            width: 100%;
            min-height: 70vh;
            margin-top: 15vh;
            border: none;
            outline: none;
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 30px;
            @include mobile{
                padding: 0px;
                min-height: 75vh;
                border-radius: 30px;
                margin-top: 10vh;
            }
        }
        &-title{
            width: 100%;
            text-align: center;
            font-family: 'AntiqueMain';
            font-size: 2.5rem;
            color: $white;
            line-height: 2.5rem;
            z-index: 1;
            letter-spacing: .5px;
            @include mobile{
                font-size: 3.2rem;
                line-height: 3.5rem;
                letter-spacing: -2px;
            }
        }
    }
    &-heading{
        height: auto;
        margin-block: 10vh 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        padding-inline: 10%;
        align-items: center;
        @include mobile{
            height: auto;
            margin-bottom: 0vh;
        }
        h1{
            width: fit-content;
            text-align: center;
            font-family: 'AntiqueMain';
            font-size: 8rem;
            color: $white;
            line-height: 8rem;
            z-index: 1;
            letter-spacing: -5px;
            @include mobile{
                font-size: 3.2rem;
                line-height: 3.5rem;
                letter-spacing: -2px;
            }
        }
    }
    &-subhead{
        width: 75%;
        color: $white;
        font-family: 'Matter';
        font-size: 1.4rem;
        @include mobile{
            width: 100%;
            text-align: center;
            font-size: 1rem;
            padding-top: 2rem;
        }
    }
}

.job{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #D6D6D680;
    transition: all 0.3s ease-in-out;
    @include mobile{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-inline: 20px; 
    }
    &:hover{
        border-color: #FFFFFF;
    }
    .title{
        font-family: 'Matter';
        font-size: 2rem;
        color: $teal;
        @include mobile{
            font-size: 2rem;
        }
    }
    .description{
        h2{
            font-size: 1.2rem;
            font-family: 'Matter';
            color: $accent;
            font-weight: 100;
        }
        p{
            color: $white;
            font-family: 1rem;
            margin-top: 1rem;
            width: 80%;
            font-weight: 100;
            font-family: 'Matter';
        }
    }
    .apply{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @include mobile{
            justify-content: flex-start;
        }
        &-link{
            font-family: 'Matter';
            font-size: 1.5rem;
            font-weight: 400;
            color: $white;
            position: relative;
            width: fit-content;
            overflow: hidden;
            padding-bottom: 10px;
            &:hover{
                &::before, &::after{
                    @include animate(moveline, 0.9s, ease-out, 1);
                }
            }
            @include mobile{
                font-size: 1.6rem;
                font-weight: 500;
            }
            &::before{
                position: absolute;
                bottom: 0;
                left: -110%;
                content: "";
                width: 100%;
                height: 2px;
                border-radius: 10px;
                background-color: var(--color);
            }
            &::after{
                position: absolute;
                bottom: 0px;
                left: 0;
                content: "";
                width: 100%;
                height: 2px;
                border-radius: 10px;
                background-color: var(--color);
            }
            @include keyframes(moveline){
                0%, 100%{transform: translateX(0);opacity: 1;}
                97%{transform: translateX(100%);opacity: 1;}
                98%{transform: translateX(100%);opacity: 0;}
                98%{transform: translateX(0%);opacity: 1;}
            }
        }
    }
}

.vacancies{
    margin-bottom: 10vh;
}

.flex-right{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    @include mobile{
        justify-content: center;
    }
}

.flex-top{
    align-items: flex-start;
}

.bm-5{
    margin-bottom: 50vh;
    @include mobile{
        margin-bottom: 20vh;
    }
}