@use './abstracts/' as *;

.form{
    &-container{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
    }
    &-image{
        width: 100%;
        height: 200px;
        background-color: $white;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #00000070;
        border-radius: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &-overlay{
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
            width: calc(100% - 20px);
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            background-color: #00000050;
            border-radius: 7px;
            transition: 0.2s all ease-in-out;
            &:hover{
                opacity: 1;
            }
            i{
                font-size: 2.5rem;
                color: $white;
            }
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 7px;
            object-fit: cover;
        }
    }
    &-group{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
        &.v-full{
            height: 100%;
            justify-content: stretch;
            padding-bottom: 20px;
        }
        &.end{
            align-items: flex-end;
        }
        &-h{
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            label{ 
                width: 30%; 
                height: 40px; 
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            input, select{
                width: 70%;
            }
        }
        .currency{
            position: relative;
            &-symbol{
                position: absolute;
                right: 0;
                width: 45px;
                background-color: $red;
                color: $white;
                height: 40px;
                top: 0;
                font-weight: 500;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
                border: 1px #989898 solid;
                border-radius: 0px 10px 10px 0px;
            }
        }
        &-copy{
            width: 100%;
            position: relative;
            .copy{
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                background-color: $red;
                color: $white;
                border: 1px solid #989898;
                width: 50px;
                padding-inline: 10px;
                border-radius: 0px 10px 10px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $fontSizeMedium;
                z-index: 10;
                cursor: pointer;
                transition: transform 0.2s ease-in-out;
                &:hover{
                    i{
                        text-shadow: 0px 0px 5px #fff;
                        transform: scale(1.2);
                    }
                }
                .copied{
                    background-color: #313131;
                    font-size: 14px;
                    padding-inline: 10px;
                    display: flex;
                    align-items: center;
                    border-radius: 5px;
                    position: absolute;
                    top: -35px;
                    height: 25px;
                    border: none;
                    &::after{
                        content: "";
                        width: 12px;
                        height: 12px;
                        transform: rotate(45deg);
                        position: absolute;
                        bottom: -4px;
                        border: none;
                        background-color: #313131;
                        z-index: -1;
                        left: 0;
                        right: 0;
                        margin-inline: auto;
                    }
                }
            }
        }
    }
    &-label{
        font-size: $fontSizeNormal;
        margin-bottom: 5px;
        @include mobile{
            font-size: 1rem;
        }
    }
    &-control{
        width: 100%;
        height: 40px;
        border: 1px #989898 solid;
        padding-inline: 10px;
        border-radius: 10px;
        color: #000000;
        outline: none;
        font-size: $fontSizeNormal;
        @include mobile{
            font-size: 1rem;
        }
        &.error{
            border-color: $red !important;
            border-width: 2px;
        }
        &::placeholder{
            color: #989898;
        }
        &.cap{
            text-transform: uppercase;
            &::placeholder{
                text-transform: none;
            }
        }
        &.ta{
            height: 100px;
            width: 100%;
            font-family: $fontFamily;
            padding: 10px;
            resize: vertical;
            max-height: 200px;
        }
        &.map{
            height: 100%;
            width: 100%;
            flex: 1;
            padding: 0;
        }
        &-option{
            display: flex;
        }
    }
    &-button{
        width: fit-content;
        padding: 12px 20px;
        background-color: $red;
        color: $white;
        border: none;
        border-radius: 10px;
        font-size: $fontSizeNormal;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 20px;
        }
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &.explore{
            i{
                margin-left: 50px;
                @include mobile{
                    margin-left: 0px;
                }
                transition: transform 0.3s ease-in-out;
            }
            &-footer{
                i{
                    margin-left: 20px;
                }
            }
            &:hover{
                transform: scale(1.05);
                i{
                    @include keyframes(exploreHover){
                        0%{transform: translateX(0px);}
                        40%{transform: translateX(-10px);}
                        70%{transform: translateX(5px);}
                        100%{ transform: translateX(10px);}
                    }
                    @include animate(exploreHover, 0.3s, ease-in, 1);
                    transform: translateX(10px);
                }
            }
        }
        &.full{
            width: 100%;
            &-m{
                @include mobile{
                    width: 50%;
                }
            }
        }
        &:disabled{
            opacity: 0.6;
        }
        &:hover{
            box-shadow: 0px 5px 10px #00000020;
        }
        &.success, &.danger{
            width: 100%;
        }
        &.success{
            background-color: $green;
        }
        &.clear{
            background-color: transparent;
            color: $txtColor;
            border: 1.5px solid $txtColor;
        }
        &.update{
            background-color: $blue;
            i{
                font-size: 20px;
                margin-right: 10px;
            }
        }
        &.trash{
            background-color: $white;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            padding: 2px 10px;
            height: 40px;
            color: $black;
            border-radius: 10px;
            &.active{
                background-color: $red;
                color: white;
            }
            i{
                font-size: 18px;
            }
        }
        @include mobile{
            font-size: 1rem;
            padding: 0.5rem 0.8rem;
        }
    }
    &-icon{
        &-select{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            img{
                width: 100%;
                border: 1px solid #00000070;
                height: 80px;
                object-fit: cover;
                border-radius: 10px;
            }
            &.large{
                img{
                    height: 200px;
                }
            }
            .caption{
                li{
                    max-width: 100px;
                    max-height: 100px;
                    img{
                        width: 100%;
                    }
                }
            }
            &.multiple{
                display: flex;
                &.caption{
                    ul{
                        li{
                            display: flex;
                            flex-direction: column;
                            width: 150px;
                            height: 150px;
                            box-shadow: 0px 0px 10px #00000010;
                            img{
                                width: 100%;
                                height: 120px;
                                object-fit: cover;
                                border-radius: 5px 5px 0px 0px;
                                border: none;
                            }
                            input{
                                height: 30px;
                                border: none;
                                border-radius: 0px 0px 5px 5px;
                                outline: none;
                                padding: 0px 10px;
                            }
                        }
                    }
                }
                ul{
                    display: flex;
                    list-style: none;
                    flex-wrap: wrap;
                    gap: 10px;
                    padding: 20px;
                    background-color: $bodyBg;
                    border-radius: 10px;
                    li{
                        border: none;
                        position:relative;
                        img{
                            height: 120px;
                        }
                        i{
                            position: absolute;
                            top: -10px;
                            right: -10px;
                            color: $black;
                            font-size: 25px;
                            text-shadow: 0px 0px 6px #00000040;
                            background-color: $red;
                            border-radius: 50%;
                            padding: 0;
                            cursor: pointer;
                        }
                    }
                }
            }
            &-button{
                width:100%;
                border-radius: 10px;
                border: 1px solid #00000070;
                height: 40px;
                margin-top: 10px;
                font-size: 16px;
                background-color: $black;
                font-weight: 600;
                color: $white;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                &.minw{
                    width: 30% !important;
                    align-self: flex-start;
                }
                i{
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
    &-section{
        &-header{
            font-weight: 600;
            font-size: $fontSizeMedium;
            &-list{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $bodyBg;
                border-radius: 10px;
                list-style: none;
                overflow: hidden;
                li{
                    color: $black;
                    flex:1;
                    border-right: 0.7px solid #00000020;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 10px;
                    font-size: $fontSizeNormal;
                    cursor: pointer;
                    i{
                        margin-left: 10px;
                    }
                    &:last-child{border:none;}
                    &.active{
                        color: $white;
                        background-color: $red;
                    }
                }
            }
        }
    }
    &-tags{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px;
        background-color: $bodyBg;
        border-radius: 0px 0px 10px 10px;
        &-head{
            background-color: $red;
            margin-top: 20px;
            border-radius: 10px 10px 0px 0px;
            padding: 5px 10px;
            color: $white;
        }
        &-control{
            border-radius: 10px;
        }
        &-tag{
            width: fit-content;
            padding: 5px 10px;
            border: 1px solid #00000040;
            display: flex;
            justify-content: stretch;
            align-items: center;
            background-color: $white;
            box-shadow: 2px 2px 5px #00000010;
            border-radius: 10px;
            margin-right: 10px;
            img{
                height: 20px;
                width: 20px;
                object-fit: contain;
                margin-right: 10px;
            }
        }
    }
    &-toggle{
        width: 60px;
        background-color: $bodyBg;
        box-shadow: inset 0px 2px 10px #00000010;
        border-radius: 20px;
        height: 30px;
        margin-block: 5px;
        display: flex;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &.active{
            padding-left: 30px;
            background-color: $red;
        }
        &-switch{
            width: 30px;
            height: 30px;
            background-color: $white;
            border-radius: 20px;
            box-shadow: 0px 0px 10px #00000040;
        }
    }
    &-video{
        width: 100%;
        position: relative;
        border-radius: 10px;
        padding: 0;
        overflow: hidden;
        min-height: 299px;
        max-height: 300px;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &-container{
            position: relative;
            border-radius: 10px;
            overflow: hidden;
        }
        &-fallback{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: blur(6px);
        }
        video{
            height: 100%;
            object-fit: cover;
        }
        &.empty{
            border: 0.7px solid #00000020;
            padding: 20px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $bodyBg;
        }
    }
    &-lists{
        padding: 10px;
        border-radius: 10px;
        background-color: $bodyBg;
        &-header{
            font-weight: 600;
        }
        ul{
            padding-left: 20px;
            width: 100%;
            li{
                position: relative;
                p{
                    max-width: 100%;
                    overflow-wrap: break-word;
                }
            }
        }
    }
    &-counter{
        display: flex;
        width: 100%;
        justify-content: stretch;
        align-items: center;
        height: 50px;
        margin-block: 10px;
        border: 0.5px solid #333333;
        border-radius: 10px;
        overflow: hidden;
        span{
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            font-size: 25px;
            transition: transform 0.15s ease-in-out;
            cursor: pointer;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
            &:hover{
                transform: scale(1.2);
            }
        }
        input{
            max-width: 40%;
            border-width: 0px 1px;
            border-style: solid;
            border-color: #00000040;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
            outline: none;
            font-size: 16px;
            padding: 0;
            margin: 0;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            &[type=number] {
                -moz-appearance: textfield;
              }
        }
    }
    &-checkbox{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        margin-block: auto;
        gap: 10px;
        i{
            font-size: 20px;
        }
        &-box{
            min-width: 30px;
            max-width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 8px;
            background-color: #ecf0ff;
            box-shadow: inset 0px 0px 5px #33333340;
            cursor: pointer;
            &.active{
                background-color: $red;
                box-shadow: 0px 2px 5px #33333340;
                i{
                    color: $white;
                }
            }
            i{
                font-size: 18px;
                color: $black;
            }
        }
    }
}